* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.page-wrapper h1{
  position: relative;
  top: 0;
  left: 0;
}

.calculator-wrapper {
  width: fit-content;
}

.row {
  margin: 0;
  padding: 0;
}

table {
  background-color: #858693;
  border: 1px solid white;
}

table tbody tr {
  background-color: #040404;
  border: 1px solid white;
}

table tbody th {
  background-color: #858693;
  color: white;
  text-align: right;
  padding: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
}

table tbody tr td {
  background-color: #e0e0e0;
  width: 5rem;
  height: 3.5rem;
}

.xt-right {
  background-color: #f59249;
}